# Обязательные
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_strong_password
POSTGRES_DB=app_database

# Опциональные с дефолтами
POSTGRES_VERSION=17.4
POSTGRES_CONTAINER_NAME=api_postgres
POSTGRES_PORT=5432
